*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-family: 'Poppins', sans-serif;
}

body{
  overflow-x: hidden;
  background-color: #ffffff;
}

.imgHome{
  width: 40rem;
}

.text_deco{
  text-decoration: none;
  margin-left: 3rem;
}

.parentNav{
  align-self: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.btn{
  padding: 4rem;
  border-radius: 2%;
  border: none;
  transition: 330ms;
  background-color: #1976D2;
  color: white;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
}

.btn:hover{
  color: white;
  background-color: rgb(32, 147, 155);
  transform: scale(1.1);
}

.parentHome{
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap-reverse;
  margin-top: 6rem;
  gap: 7rem;
}

.quote{
  justify-self: center;
}

.form{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4rem;
  gap: 1rem;
}

.form__input{
  align-self: center;
  width: 50%;
}

.form_submit{
  width: 10%;
  align-self: center;
}

.parentSignUp{
  display: flex;
  flex-direction: column;
}

.btn__Code{
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  margin-top: 10%;
}

.img_back{
  margin-top: 3rem;
  margin-left: 5rem;
}

.CodeCopy{
  align-self: center;
  display: flex;
  justify-content: center;
  width: 30%;
}

.parentCards{
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  gap: 1.5rem;
}

.cardRend{
  align-self: center;
}

footer{
  margin-top: 6.5rem;
}

@media(max-width : 1200px){.imgHome{width: 35rem;}}
@media(max-width : 1000px){.imgHome{width: 30rem;}}
@media(max-width : 800px){.imgHome{width: 25rem;}}
@media(max-width : 600px){.imgHome{width: 20rem;}}
@media(max-width : 400px){.imgHome{width: 15rem;} .parentNav{margin-right: 2.5rem;}}