*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-family: 'Poppins', sans-serif;
}

body{
  overflow-x: hidden;
  background-color: #ffffff;
}

.imgHome{
  width: 40rem;
}

.text_deco{
  text-decoration: none;
  margin-left: 3rem;
}

.parentNav{
  align-self: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.btn{
  padding: 4rem;
  border-radius: 2%;
  border: none;
  transition: 330ms;
  background-color: #1976D2;
  color: white;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
}

.btn:hover{
  color: white;
  background-color: rgb(32, 147, 155);
  transform: scale(1.1);
}

.parentHome{
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap-reverse;
  margin-top: 6rem;
  gap: 7rem;
}

.quote{
  justify-self: center;
}

.form{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4rem;
  gap: 1rem;
}

.form__input{
  align-self: center;
  width: 50%;
}

.form_submit{
  align-self: center;
}

.parentSignUp{
  display: flex;
  flex-direction: column;
}

.btn__Code{
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  margin-top: 10%;
}

.img_back{
  margin-top: 3rem;
  margin-left: 5rem;
}

.CodeCopy{
  align-self: center;
  display: flex;
  justify-content: center;
  width: 30%;
}

.parentCards{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 3rem;
  gap: 1.5rem;
}

.cardRend{
  align-self: center;
}

.title{
  font-size: large;
  font-weight: 600;
  color: #115aa4;
}

.sujet{
  font-size: medium;
  font-weight: 600;
}

.getApp{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.d-none{
  display: none;
}

footer{
  margin-top: 6.5rem;
}

/* Modal */
.div1{
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  overflow-y: auto;
  position: fixed;
  inset: 0;
  z-index: 50;
  outline: none;
  background-color: rgba(0, 0, 0, 0.196);
  padding: 20px;
}

.div3{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  outline: none;
  padding: 10px;
  border: 0;
  border-radius: 0.7rem;
  box-shadow: 3rem;
  position: relative;
  width: 28rem;
}

.div4{
  display: flex;
  align-items: start;
  justify-content: space-between;
  padding: 6px;
  border-bottom: solid gray;
  border-radius: 0.7rem;
}

.group_div3_div4{
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.buttonX{
  position: absolute;
  left: 10rem;
  top: 0.5rem;
  cursor: pointer;
  padding: 0.5rem;
  border: none;
  border-radius: 1rem;
  background-color: rgb(235, 0, 0);
  color: white;
}

.modalForm{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;
}

.div_title{
  display: flex;
  gap: 0.5rem;
  text-decoration: none;
}

.title_log{
  align-self: center;
  color: rgb(222, 0, 0);
  font-weight: 700;
}

.title_log_pre{
  align-self: center;
  color: #1167bc;
  font-weight: 700;
  margin-top: 2.3rem;
}

.precedent_logout{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-right: 5rem;
}

@media(max-width : 1200px){.imgHome{width: 35rem;}}
@media(max-width : 1000px){.imgHome{width: 30rem;}}
@media(max-width : 800px){.imgHome{width: 25rem;}}
@media(max-width : 600px){.imgHome{width: 20rem;}}
@media(max-width : 400px){.imgHome{width: 15rem;} .parentNav{margin-right: 2.5rem;} .precedent_logout{margin-left: 3rem;} .undraw_choise{width: 70%;}}